@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
    --primary-color: #5cc7a3;
    --primary-color-dark: #53bb6d;
    --secondary-color: #e8f1fa;
    --text-dark: #282d31;
    --text-light: #92dbb0;
    --extra-light: #f3f4f6;
    --max-width: 1200px;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inconsolata", monospace;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.scrolled {
    background-color: grey;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo img {
    border-radius: 50%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007BFF;
}

header.scrolled nav a {
    color: #fff;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    color: var(--extra-light);
    cursor: pointer;
}

footer {
    background-color: var(--text-dark);
    color: var(--secondary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
}

footer .section-container {
    display: grid;
    gap: 1.5rem;
    text-align: center;
}

footer h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social-icons i {
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

footer p {
    font-style: italic;
}

#contact {
    height: auto;
    padding: 40px;
    text-align: center;
}

@media (max-width: 600px) {
    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
